html,
body{
   margin: 0;
   font-family: 'Apple Chancery', cursive;
}
#heading{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 2rem;
    color: crimson;

}
#color{
    float: right;
    
    margin-right: 15px;
    padding: 10px;
    color: crimson;

}
#wrap{
    border-top:3px solid black;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;



}
#btn{
     border: 1px solid black;
     background-color: darkred;
     color: white;
     border-radius: 15px;
     padding: 20px 80px;
     font-size: 28px;
     letter-spacing: 5px;
     cursor: pointer;

}
